
body {
    background-color: gainsboro;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8, 60px);
    justify-content: center;
    
    margin: auto;
    padding-top: 100px;
}
.grid .white {
    background-color: #f0d9b5;
    border: 0px solid #ccc;
}
.grid .black {
    background-color: #b58863;
    border: 0px solid #ccc;
}

.grid > div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.grid .black.selected,
.grid .white.selected {
    position: relative;
}
.grid .black.selected::after,
.grid .white.selected::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 5px solid yellow;
    box-sizing: border-box;
}
.valid-move {
    position: relative;
}
.valid-move::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.grid .black.capture,
.grid .white.capture{
    position: relative;
}
.grid .black.capture::after,
.grid .white.capture::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 3px solid red;
    border-radius: 50%;
    box-sizing: border-box;
}